<div class="centered">

<h1 >Edit Your Comic Book</h1>

<form action="/comics/<%= @comic.id %>" method="post">
    <input type="hidden" id="hidden" name="_method" value="patch"/>
    <label for="title">Title:</label>
    <br/>
    <input class="input" type="text" id="title" name="title" value="<%= @comic.title %>"/>
        <br/><br/>
    <input type="hidden" id="hidden" name="_method" value="patch"/>
    <label for="series">Series Title:</label>
    <br/>
    <input class="input" type="text" id="series" name="series" value="<%= @comic.series %>"/>
    <br/><br/>
    <input type="hidden" id="hidden" name="_method" value="patch"/>
    <label for="issue">Issue:</label>
    <br/>
    <input class="input" type="text" id="issue" name="issue" value="<%= @comic.issue %>"/>
    <br/><br/>
    <input type="hidden" id="hidden" name="_method" value="patch"/>
    <label for="author">Author:</label>
    <br/>
    <input class="input" type="text" id="author" name="author" value="<%= @comic.author %>"/>
    <br/><br/>
    <input type="hidden" id="hidden" name="_method" value="patch"/>
    <label for="details">Details:</label>
    <br/>
    <textarea class="input" class="textarea" type="text" id="details" name="details"/><%=@comic.details%></textarea> 
        <br/><br/>
    <label for="anonymous?">Share anonymously? </label>
    <input type="checkbox" id="anonymous?" name="anonymous?" <%="checked" if @comic.anonymous? %>/>       
    <label for="public?">Share Publicly? </label>
	<input type="checkbox" id="public?" name="public?" <%="checked" if @comic.public? %>/>
        <br/><br/><br/>
    <input class="button submit" type="submit" value="Save Changes"/>
        <br/><br/>
    <a class="cancel" href="/comics/<%= @comic.id %>">Cancel</a>
</form>

</div>