<h1><%= @comic.title %></h1>

	<% if @comic.anonymous? && @comic.user == current_user%>
		<p>You posted this anonymously 
	<% elsif @comic.anonymous? %>
		<p>Posted by Anonymous
	<% elsif @comic.user == current_user%>
		<p>You posted this
	<% else %>
		<p>Posted by <a href="/users/<%=@comic.user.id%>"><%=comic.user.username%></a>
	<% end %>
    <p><%= @comic.created_at.strftime("%m/%d/%y at %I:%M%p %Z")%></p>
    <h3>Series Title: <%= @comic.series %></h3>
    <h3>Issue Number: <%= @comic.issue %></h3>
    <h3>Author Name: <%= @comic.author %></h3>
    <strong>Details: </strong>
	<div>
		<h5><%= @comic.details %></h5>
	</div>
<% if @comic.user == current_user %>
	<a href="/comics/<%=@comic.id%>/edit">Edit Comic</a>
	<a href="/comics/<%=@comic.id%>/delete">Delete Comic</a>
<% end %> 

