<div class="centered">

	<% if @comic.anonymous? && @comic.user == current_user%>
		<p>You posted this anonymously 
	<% elsif @comic.anonymous? %>
		<p>Posted by Anonymous
	<% elsif @comic.user == current_user%>
		<p>You posted this
	<% else %>
		<p>Posted by <%=@comic.user.username%></p>
	<% end %>
	<p><%= @comic.created_at.strftime("%m/%d/%y at %I:%M%p %Z")%></p>
	<br/>
	<div class="comic-details">
		<h1><%= @comic.title %></h1>
    	<h3>Series Title: <%= @comic.series %></h3>
    	<h3>Issue Number: <%= @comic.issue %></h3>
    	<h3>Author Name: <%= @comic.author %></h3>
		<h3>Details: <%= @comic.details %></h3>
	</div> 
	
<% if @comic.user == current_user %>
	<a class="button submit" href="/comics/<%=@comic.id%>/edit">Edit Comic</a>
	<a class="button submit" href="/comics/<%=@comic.id%>/delete">Delete Comic</a>
<% end %> 
</div>

